<section id="us" class="about-us">
    <h1>ABOUT US</h1>
    <p>
        Dental Clinic is a second generation clinic with traditions in the field of dentistry. We are proud of our
        work as a team – dental clinic and dental laboratory – and we endeavour to satisfy even the most demanding of
        patients. Our clinic offers the full spectrum of dental services such as oral surgery, implantology, esthetic
        dentistry and porcelain veneers, crowns and bridges, orthodontics and pediatric dentistry. We aim at delivering
        solid results combined with supreme comfort for our patients, therefore we have combined dental clinic, dental
        laboratory and X-ray all under one roof.
    </p>

    <div class="cabinet">
        <ul>
            <li>
                @*<img src="images/cabinet.jpg" alt="">*@
            </li>
            <li>
                @*<img src="images/cabinet1.jpg" alt="">*@
            </li>
            <li>
                @*<img src="images/cabinet2.jpg" alt="">*@
            </li>
        </ul>
    </div>
</section>