<div class="container-fluid text-center">
    <section id="contact" class="contact-us">
        <h1>CONTACT US</h1>
        <div class="info text-center">

            <div class="address col-lg-6 col-md-6 col-sm-6">
                <h5>Our Address</h5>
                <p>500 Terry Francois Street</p>
                <p>New York, CA 94158</p>
                <p>dentalclinic@gmail.com \\ Tel: 123-456-7890</p>
            </div>

            <div class="hours col-lg-6 col-md-6 col-sm-6">
                <h5>Opening Hours</h5>
                <p>Monday - Friday 9AM - 7PM</p>
                <p>Saturday 9AM - 2MP</p>
            </div>

        </div>
    </section>
</div>

<hr>

<div class="container-fluid text-center">
    <div class="promotions text-center">
        <div class="box prom1 col-xs-12 col-md-4"><span>JULY 23 - AUGUST 30</span><h1>15% OF EVERY APPOINTMENT BETWEEN</h1></div>
        <div class="box prom2 col-xs-12 col-md-4"><span>ALL YEAR</span><h1>EVERY FRIDAY <strong>FREE</strong> VISIT FOR KIDS</h1></div>
        <div class="box prom3 col-xs-12 col-md-4"><span>COMING SOON</span><h1>WE ARE OPENING NEW CABINETS IN TWO CITIES</h1></div>
    </div>
</div>