@*<section id="contact" class="contact-us">
    <div class="info">

        <div class="address">
            <h5>Our Address</h5>
            <p>500 Terry Francois Street</p>
            <p>New York, CA 94158</p>
            <p>dentalclinic@gmail.com \\ Tel: 123-456-7890</p>
        </div>

        <div class="hours">
            <h5>Opening Hours</h5>
            <p>Monday - Friday 9AM - 7PM</p>
            <p>Saturday 9AM - 2MP</p>
        </div>

    </div>
</section>*@
