<section class="background">
    <div class="articles">
        <div class="row text-center">
            <article class="titles1 col-md-4"><a href=""><h1>GENERAL <span>DENTISTRY</span></h1></a></article>
            <article class="titles2 col-md-4"><a href=""><h1>COSMETIC <span>DENTISTRY</span></h1></a></article>
            <article class="titles3 col-md-4"><a href=""><h1>EMERGENCY <span>DENTAL&nbsp;CARE</span></h1></a></article>
        </div>
    </div>
</section>

<section class="book-now">
    <div class="text">
        <h1>Schedule your appointment online</h1>
        <button><a href="">Book An Appointment</a></button>
    </div>
</section>