    @model IEnumerable<DentistViewModel>
    @{
    ViewBag.Title = "AllDentist";
}

<h2>AllDentist</h2>
@foreach (var user in Model)
{
    <div>
        <label>Name: @user.Name </label><br>
        <label>Dentist Specialization: @user.Spec </label><br>
        <label>Town: @user.Town </label><br>
        <label>Description: @user.Description </label><br>
       
      <hr>

    </div>

}
